<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="public-css">
    <!-- basic styles -->

    <link th:href="@{/static/assets/css/mycss.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/static/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" type="text/css" th:href="@{/static/assets/css/font-awesome.min.css}">
    <!--[if IE 7]>
    <link th:href="@{/static/assets/css/font-awesome-ie7.min.css}" rel="stylesheet" type="text/css"/>
    <![endif]-->

    <link rel="stylesheet" th:href="@{/static/assets/css/dropzone.css}" />


    <!-- ace styles -->
    <link  th:href="@{/static/assets/css/ace.min.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{/static/assets/css/ace-rtl.min.css}" />
    <link rel="stylesheet" th:href="@{/static/assets/css/ace-skins.min.css}" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" th:href="@{/static/assets/css/ace-ie.min.css}" />
    <![endif]-->
</th:block>


<th:block th:fragment="public-js">
    <!-- basic scripts -->
    <!--[if !IE]> -->
    <script th:src="@{/static/assets/js/jquery-2.1.1.js}"></script>
    <!-- <![endif]-->

    <!--[if IE]>
    <script src="@{/static/assets/js/jquery-1.10.2.min.js}"></script>
    <![endif]-->

    <!-- ace settings handler -->
    <script th:src="@{/static/assets/js/ace-extra.min.js}"></script>


    <!--[if lt IE 9]>
    <script th:src="@{/static/assets/js/html5shiv.js}"></script>
    <script th:src="@{/static/assets/js/respond.min.js}"></script>
    <![endif]-->


    <!--    &lt;!&ndash;[if !IE]> &ndash;&gt;-->
    <!--    <script type="text/javascript">-->
    <!--        window.jQuery || document.write("<script th:src='@{/static/assets/js/jquery-2.0.3.min.js}'>"+"<"+"/script>");-->
    <!--    </script>-->
    <!--    &lt;!&ndash; <![endif]&ndash;&gt;-->

    <!--    &lt;!&ndash;[if IE]>-->
    <!--    <script type="text/javascript">-->
    <!--        window.jQuery || document.write("<script th:src='@{/static/assets/js/jquery-1.10.2.min.js}'>"+"<"+"/script>");-->
    <!--    </script>-->
    <!--    <![endif]&ndash;&gt;-->

    <script type="text/javascript">
        if("ontouchend" in document) document.write("<script th:src='@{/static/assets/js/jquery.mobile.custom.min.js}'>"+"<"+"script>");
    </script>

    <script th:src="@{/static/assets/js/bootstrap.min.js}"></script>

    <script th:src="@{/static/assets/js/typeahead-bs2.min.js}"></script>

    <!--[if lte IE 8]>
    <script th:src="@{/static/assets/js/excanvas.min.js}"></script>
    <![endif]-->


    <script th:src="@{/static/assets/js/jquery-ui-1.10.3.custom.min.js}" ></script>
    <script th:src="@{/static/assets/js/jquery.ui.touch-punch.min.js}" ></script>
    <script th:src="@{/static/assets/js/jquery.slimscroll.min.js}" ></script>
    <script th:src="@{/static/assets/js/jquery.easy-pie-chart.min.js}" ></script>
    <script th:src="@{/static/assets/js/jquery.sparkline.min.js}" ></script>
    <script th:src="@{/static/assets/js/flot/jquery.flot.min.js}" ></script>
    <script th:src="@{/static/assets/js/flot/jquery.flot.pie.min.js}" ></script>
    <script th:src="@{/static/assets/js/flot/jquery.flot.resize.min.js}" ></script>
    <script th:src="@{/static/assets/js/ace-elements.min.js}" ></script>
    <script th:src="@{/static/assets/js/ace.min.js}" ></script>


</th:block>



<th:block th:fragment="tables-js">
    <!--tables begin-->
    <script th:src="@{/static/assets/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/static/assets/js/jquery.dataTables.bootstrap.js}"></script>
    <!--tables end-->
</th:block>