<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--声明static为页面片段名称-->
<head th:fragment="static">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- basic styles -->

    <link th:href="@{/static/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/font-awesome/3.2.1/css/font-awesome.min.css">
    <!--[if IE 7]>
    <link th:href="@{/static/assets/css/font-awesome-ie7.min.css}" rel="stylesheet" type="text/css"/>
    <![endif]-->

    <link rel="stylesheet" th:href="@{/static/assets/css/dropzone.css}" />


    <!-- ace styles -->
    <link  th:href="@{/static/assets/css/ace.min.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{/static/assets/css/ace-rtl.min.css}" />
    <link rel="stylesheet" th:href="@{/static/assets/css/ace-skins.min.css}" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" th:href="@{/static/assets/css/ace-ie.min.css}" />
    <![endif]-->
    <!-- ace settings handler -->
    <script th:src="@{/static/assets/js/ace-extra.min.js}"></script>


    <!--[if lt IE 9]>
    <script th:src="@{/static/assets/js/html5shiv.js}"></script>
    <script th:src="@{/static/assets/js/respond.min.js}"></script>
    <![endif]-->


<!------------------------------------------------------------->

    <!-- basic scripts -->
    <!--[if !IE]> -->
    <script src="http://www.jq22.com/jquery/jquery-2.1.1.js"></script>
    <!-- <![endif]-->

    <!--[if IE]>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <![endif]-->

    <!--[if !IE]> -->
    <script type="text/javascript">
        window.jQuery || document.write("<script th:src='@{/static/assets/js/jquery-2.0.3.min.js}'>"+"<"+"/script>");
    </script>
    <!-- <![endif]-->

    <!--[if IE]>
    <script type="text/javascript">
        window.jQuery || document.write("<script th:src='@{/static/assets/js/jquery-1.10.2.min.js}'>"+"<"+"/script>");
    </script>
    <![endif]-->

    <script type="text/javascript">
        if("ontouchend" in document) document.write("<script th:src='@{/static/assets/js/jquery.mobile.custom.min.js}'>"+"<"+"script>");
    </script>

    <script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>

    <script th:src="@{/static/assets/js/typeahead-bs2.min.js}"></script>

    <!--[if lte IE 8]>
    <script th:src="@{/static/assets/js/excanvas.min.js}"></script>
    <![endif]-->


    <script th:src="@{/static/assets/js/jquery-ui-1.10.3.custom.min.js}" ></script>
    <script th:src="@{/static/assets/js/jquery.ui.touch-punch.min.js}" ></script>
    <script th:src="@{/static/assets/js/jquery.slimscroll.min.js}" ></script>
    <script th:src="@{/static/assets/js/jquery.easy-pie-chart.min.js}" ></script>
    <script th:src="@{/static/assets/js/jquery.sparkline.min.js}" ></script>
    <script th:src="@{/static/assets/js/flot/jquery.flot.min.js}" ></script>
    <script th:src="@{/static/assets/js/flot/jquery.flot.pie.min.js}" ></script>
    <script th:src="@{/static/assets/js/flot/jquery.flot.resize.min.js}" ></script>
    <script th:src="@{/static/assets/js/ace-elements.min.js}" ></script>
    <script th:src="@{/static/assets/js/ace.min.js}" ></script>



    <!--elements begin-->
    <link rel="stylesheet" th:href="@{/static/assets/css/jquery-ui-1.10.3.custom.min.css}" />

    <link rel="stylesheet" th:href="@{/static/assets/css/jquery.gritter.css}" />

    <script th:src="@{/static/assets/js/bootbox.min.js}"></script>
    <script th:src="@{/static/assets/js/jquery.gritter.min.js}"></script>
    <script th:src="@{/static/assets/js/spin.min.js}"></script>
    <!--elements end -->


    <!--treeview begin-->
    <script th:src="@{/static/assets/js/fuelux/data/fuelux.tree-sampledata.js}"></script>

    <script th:src="@{/static/assets/js/fuelux/fuelux.tree.min.js}"></script>
    <!--treeview end -->

    <!--jquery-ui begin-->
    <link rel="stylesheet" th:href="@{/static/assets/css/jquery-ui-1.10.3.full.min.css}" />

    <script th:src="@{/static/assets/js/jquery-ui-1.10.3.full.min.js}"></script>

    <!--<script th:src="@{/static/assets/js/jquery.ui.touch-punch.min.js"></script>-->
    <!--jquery-ui end-->

    <!--nestanle-list begin-->
    <script th:src="@{/static/assets/js/jquery.nestable.min.js}"></script>
    <!--nestanle-list end-->



    <!--tables begin-->
    <script th:src="@{/static/assets/js/jquery.dataTables.min.js}"></script>

    <script th:src="@{/static/assets/js/jquery.dataTables.bootstrap.js}"></script>
    <!--tables end-->

    <!--jqgrid begin-->
    <!--<link rel="stylesheet" th:href="@{/static/assets/css/jquery-ui-1.10.3.full.min.css" />-->
    <link rel="stylesheet" th:href="@{/static/assets/css/datepicker.css}" />
    <link rel="stylesheet" th:href="@{/static/assets/css/ui.jqgrid.css}" />
    <script th:src="@{/static/assets/js/date-time/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/static/assets/js/jqGrid/jquery.jqGrid.min.js}"></script>
    <script th:src="@{/static/assets/js/jqGrid/i18n/grid.locale-en.js}"></script>
    <!--jqgrid end-->

    <!--form-elements begin-->
    <!--<link rel="stylesheet" th:href="@{/static/assets/css/jquery-ui-1.10.3.custom.min.css" />-->
    <link rel="stylesheet" th:href="@{/static/assets/css/chosen.css}" />
    <!--<link rel="stylesheet" th:href="@{/static/assets/css/datepicker.css" />-->
    <link rel="stylesheet" th:href="@{/static/assets/css/bootstrap-timepicker.css}" />
    <link rel="stylesheet" th:href="@{/static/assets/css/daterangepicker.css}" />
    <link rel="stylesheet" th:href="@{/static/assets/css/colorpicker.css}" />
    <!--form-elements end-->

    <!--form-wizard begin-->
    <link rel="stylesheet" th:href="@{/static/assets/css/select2.css}" />
    <script th:src="@{/static/assets/js/fuelux/fuelux.wizard.min.js}"></script>
    <script th:src="@{/static/assets/js/jquery.validate.min.js}"></script>
    <script th:src="@{/static/assets/js/additional-methods.min.js}"></script>
    <!--<script th:src="@{/static/assets/js/bootbox.min.js"></script>-->
    <script th:src="@{/static/assets/js/jquery.maskedinput.min.js}"></script>
    <script th:src="@{/static/assets/js/select2.min.js}"></script>
    <!--form-wizard end-->

    <!--wysixyg begin-->
        <!--<link rel="stylesheet" th:href="@{/static/assets/css/jquery-ui-1.10.3.custom.min.css" />-->
        <!-- <script th:src="@{/static/assets/js/jquery-ui-1.10.3.custom.min.js"></script>-->
        <!--<script th:src="@{/static/assets/js/jquery.ui.touch-punch.min.js"></script>-->
        <script th:src="@{/static/assets/js/markdown/markdown.min.js}"></script>
        <script th:src="@{/static/assets/js/markdown/bootstrap-markdown.min.js}"></script>
        <script th:src="@{/static/assets/js/jquery.hotkeys.min.js}"></script>
        <script th:src="@{/static/assets/js/bootstrap-wysiwyg.min.js}"></script>
        <!-- <script th:src="@{/static/assets/js/bootbox.min.js"></script>-->
    <!--wysixyg end-->


    <!--dropzone begin-->
        <!--<link rel="stylesheet" th:href="@{/static/assets/css/dropzone.css" />-->
        <script th:src="@{/static/assets/js/dropzone.min.js}"></script>
    <!--dropzone end-->

    <!--widgets begin-->
       <!-- <script th:src="@{/static/assets/js/jquery-ui-1.10.3.custom.min.js"></script>-->
       <!-- <script th:src="@{/static/assets/js/jquery.ui.touch-punch.min.js"></script>-->
       <!-- <script th:src="@{/static/assets/js/jquery.slimscroll.min.js"></script>-->
    <!--widgets end-->

    <!--calendar begin-->
        <link rel="stylesheet" th:href="@{/static/assets/css/fullcalendar.css}" />
        <!--<script th:src="@{/static/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
        <script th:src="@{/static/assets/js/jquery.ui.touch-punch.min.js"></script>-->
        <script th:src="@{/static/assets/js/fullcalendar.min.js}"></script>
        <!--<script th:src="@{/static/assets/js/bootbox.min.js"></script>-->
    <!--calendar end-->

    <!--gallery begin-->
        <link rel="stylesheet" th:href="@{/static/assets/css/colorbox.css}" />
        <script th:src="@{/static/assets/js/jquery.colorbox-min.js}"></script>
    <!--gallery end-->

    <!--profile begin-->
       <!-- <link rel="stylesheet" th:href="@{/static/assets/css/jquery-ui-1.10.3.custom.min.css" />
        <link rel="stylesheet" th:href="@{/static/assets/css/jquery.gritter.css" />
        <link rel="stylesheet" th:href="@{/static/assets/css/select2.css" />-->
        <link rel="stylesheet" th:href="@{/static/assets/css/bootstrap-editable.css}" />
    <!--profile end-->

    <!--inbox begin-->
        <script th:src="@{/static/assets/js/bootstrap-tag.min.js}"></script>
        <!--<script th:src="@{/static/assets/js/jquery.hotkeys.min.js"></script>-->
        <!--<script th:src="@{/static/assets/js/bootstrap-wysiwyg.min.js"></script>-->
        <!--<script th:src="@{/static/assets/js/jquery-ui-1.10.3.custom.min.js"></script>-->
        <!--<script th:src="@{/static/assets/js/jquery.ui.touch-punch.min.js"></script>-->
        <!--<script th:src="@{/static/assets/js/jquery.slimscroll.min.js"></script>-->
    <!--inbox end-->

    <!--pricing begin-->
    <!--pricing end-->

    <!--invoice begin-->
    <!--invoice end-->


    <!--timeline begin-->
    <!--timeline end-->


    <!--login begin-->
    <!--login end-->


    <!--faq begin-->
        <!--        <script th:src="@{/static/assets/js/jquery-ui-1.10.3.custom.min.js"></script>-->
        <!--        <script th:src="@{/static/assets/js/jquery.ui.touch-punch.min.js"></script>-->
        <!--        <script th:src="@{/static/assets/js/jquery.slimscroll.min.js"></script>-->
    <!--faq end-->


    <!--error-404 begin-->
    <!--error-404 end-->


    <!--error-500 begin-->
    <!--error-500 end-->


    <!--grid begin-->
    <!--grid end-->


    <!--blank begin-->
    <!--blank end-->

</head>
</html>