<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>控制台 - Bootstrap后台管理系统模版Ace下载</title>
    <th:block th:replace="/common/common :: public-css"/>
</head>

<body>
    <!--头部-->
    <div th:replace="common/body :: navbar"></div>

    <!--主体-->
    <div class="main-container" id="main-container">

        <script type="text/javascript">
            try{ace.settings.check('main-container' , 'fixed')}catch(e){}
        </script>

        <div class="main-container-inner">
            <!--左侧菜单栏-->
            <div th:replace="common/body :: sidebar"></div>

            <div class="main-content">

                <!--路径栏-->
                <div th:replace="common/body :: breadcrumbs"></div>

                <!--页面内容-->
                <div class="page-content">

                    <div class="row">

                        <div class="col-xs-12">
                            <h3 class="header smaller lighter blue">用户管理</h3>

                            <!--提示信息 暂时隐藏-->
                            <div class="table-header" hidden="hidden">
                                Results for "Latest Registered Domains"
                            </div>

                            <div class="table-responsive">
                                <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th class="center" th:each="title : ${permissionTitles} "th:text="${title}"></th>
                                    </tr>
                                    </thead>



                                    <tbody>

                                    <tr th:each="per : ${permissions}">

                                        <td class="col-xs-1" th:text="${per.getId()}"></td>
                                        <td class="col-xs-1" th:text="${per.getName()}"></td>
                                        <td class="col-xs-1" th:text="${per.getCode()}"></td>
                                        <td class="col-xs-1" th:text="${per.getUrl()}"></td>
                                        <td class="col-xs-1" th:text="${per.getType() == 1 ? '菜单' : '按钮'}"></td>
                                        <td class="col-xs-1" >
                                            <i th:class="${per.getIcon()}"></i>
                                        </td>
                                        <td class="col-xs-1" th:text="${per.getRemark()}"></td>

                                        <!--操作按钮-->
                                        <td>

                                            <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                                <a class="blue" href="#">
                                                    <i class="icon-zoom-in bigger-130"></i>
                                                </a>
                                                <a class="green" href="#">
                                                    <i class="icon-pencil bigger-130"></i>
                                                </a>
                                                <a class="red" href="#">
                                                    <i class="icon-trash bigger-130"></i>
                                                </a>
                                            </div>

                                            <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                <div class="inline position-relative">
                                                    <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown">
                                                        <i class="icon-caret-down icon-only bigger-120"></i>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                                                        <li>
                                                            <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
                                                                                    <span class="blue">
                                                                                        <i class="icon-zoom-in bigger-120"></i>
                                                                                    </span>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                                                    <span class="green">
                                                                                        <i class="icon-edit bigger-120"></i>
                                                                                    </span>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                                                    <span class="red">
                                                                                        <i class="icon-trash bigger-120"></i>
                                                                                    </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>

                            </div>

                        </div><!-- /.col -->

                    </div><!-- /.row -->

                </div><!-- /.page-content -->

            </div><!-- /.main-content -->


            <!-- ace-settings-container -->
            <div th:replace="common/body :: settings"></div>

        </div><!-- /.main-container-inner -->

        <!--去到顶部-->
        <a th:replace="common/body :: gototop"> </a>

    </div><!-- /.main-container -->

    <th:block th:replace="/common/common :: public-js"/>
    <th:block th:replace="/common/common :: tables-js"/>

    <script th:inline="javascript">
        jQuery(function ($) {
            var oTable1 = $('#sample-table-2').dataTable( {

                "aoColumns": [
                    { "bSortable": true },
                    null, null,null, null, null,
                    { "bSortable": false },
                    { "bSortable": false }

                ] } );
        });
    </script>

</body>

</html>