<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>控制台 - Bootstrap后台管理系统模版Ace下载</title>
	<script th:replace="/common/head::static"></script>
</head>

<body>
<!--头部-->
<div th:replace="common/body :: navbar"></div>

<!--主体-->
<div class="main-container" id="main-container">

	<script type="text/javascript">
		try{ace.settings.check('main-container' , 'fixed')}catch(e){}
	</script>

	<div class="main-container-inner">
		<!--左侧菜单栏-->
		<div th:replace="common/body :: sidebar"></div>

		<div class="main-content">

			<!--路径栏-->
			<div th:replace="common/body :: breadcrumbs"></div>

			<!--页面内容-->
			<div class="page-content">

				<div class="row">

					<div class="col-xs-12">

						<!-- PAGE CONTENT BEGINS -->



						<div class="error-container">

							<div class="well">

								<h1 class="grey lighter smaller">

											<span class="blue bigger-125">

												<i class="icon-random"></i>

												500

											</span>

									Something Went Wrong

								</h1>



								<hr />

								<h3 class="lighter smaller">

									But we are working

									<i class="icon-wrench icon-animated-wrench bigger-125"></i>

									on it!

								</h3>



								<div class="space"></div>



								<div>

									<h4 class="lighter smaller">Meanwhile, try one of the following:</h4>



									<ul class="list-unstyled spaced inline bigger-110 margin-15">

										<li>

											<i class="icon-hand-right blue"></i>

											Read the faq

										</li>



										<li>

											<i class="icon-hand-right blue"></i>

											Give us more info on how this specific error occurred!

										</li>

									</ul>

								</div>



								<hr />

								<div class="space"></div>



								<div class="center">

									<a href="#" class="btn btn-grey">

										<i class="icon-arrow-left"></i>

										Go Back

									</a>



									<a href="#" class="btn btn-primary">

										<i class="icon-dashboard"></i>

										Dashboard

									</a>

								</div>

							</div>

						</div>



						<!-- PAGE CONTENT ENDS -->

					</div><!-- /.col -->

				</div><!-- /.row -->

			</div><!-- /.page-content -->

		</div><!-- /.main-content -->


		<!-- ace-settings-container -->
		<div th:replace="common/body :: settings"></div>

	</div><!-- /.main-container-inner -->

	<!--去到顶部-->
	<a th:replace="common/body :: gototop"> </a>

</div><!-- /.main-container -->


</body>

</html>

