<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>控制台 - Bootstrap后台管理系统模版Ace下载</title>
	<script th:replace="/common/head::static"></script>
</head>

<body>
<!--头部-->
<div th:replace="common/body :: navbar"></div>

<!--主体-->
<div class="main-container" id="main-container">

	<script type="text/javascript">
		try{ace.settings.check('main-container' , 'fixed')}catch(e){}
	</script>

	<div class="main-container-inner">
		<!--左侧菜单栏-->
		<div th:replace="common/body :: sidebar"></div>

		<div class="main-content">

			<!--路径栏-->
			<div th:replace="common/body :: breadcrumbs"></div>

			<!--页面内容-->
			<div class="page-content">

				<div class="row">

					<div class="col-xs-12">

						<!-- PAGE CONTENT BEGINS -->



						<div class="center">

							<div class="row">

								<div class="col-xs-12">

									<span>.col-xs-12</span>

								</div>

							</div>



							<div class="row">

								<div class="col-xs-1">

									<span>.col-xs-1</span>

								</div>



								<div class="col-xs-11">

									<span>.col-xs-11</span>

								</div>

							</div>



							<div class="row">

								<div class="col-xs-6 col-sm-2">

									<span>.col-xs-6.col-sm-2</span>

								</div>



								<div class="col-xs-6 col-sm-10">

									<span>.col-xs-6.col-sm-10</span>

								</div>

							</div>



							<div class="row">

								<div class="col-xs-12 col-lg-6">

									<span>.col-xs-12.col-lg-6</span>

								</div>



								<div class="col-xs-12 col-lg-6">

									<span>.col-xs-12.col-lg-6</span>

								</div>

							</div>



							<div class="row">

								<div class="col-xs-4">

									<span>.col-xs-4</span>

								</div>



								<div class="col-xs-8">

									<span>.col-xs-8</span>

								</div>

							</div>



							<div class="row">

								<div class="col-xs-5">

									<span>.col-xs-5</span>

								</div>



								<div class="col-xs-7">

									<span>.col-xs-7</span>

								</div>

							</div>



							<div class="row">

								<div class="col-xs-6">

									<span>.col-xs-6</span>

								</div>



								<div class="col-xs-6">

									<span>.col-xs-6</span>

								</div>

							</div>



							<div class="row">

								<div class="col-xs-7">

									<span>.col-xs-7</span>

								</div>



								<div class="col-xs-5">

									<span>.col-xs-5</span>

								</div>

							</div>



							<div class="row">

								<div class="col-xs-8">

									<span>.col-xs-8</span>

								</div>



								<div class="col-xs-4">

									<span>.col-xs-4</span>

								</div>

							</div>



							<div class="row">

								<div class="col-xs-9">

									<span>.col-xs-9</span>

								</div>



								<div class="col-xs-3">

									<span>.col-xs-3</span>

								</div>

							</div>



							<div class="row">

								<div class="col-xs-10">

									<span>.col-xs-10</span>

								</div>



								<div class="col-xs-2">

									<span>.col-xs-2</span>

								</div>

							</div>



							<div class="row">

								<div class="col-xs-11">

									<span>.col-xs-11</span>

								</div>



								<div class="col-xs-1">

									<span>.col-xs-1</span>

								</div>

							</div>



							<div class="row">

								<div class="col-xs-12">

									<span>.col-xs-12</span>

								</div>

							</div>

						</div>



						<!-- PAGE CONTENT ENDS -->

					</div><!-- /.col -->

				</div><!-- /.row -->

			</div><!-- /.page-content -->

		</div><!-- /.main-content -->


		<!-- ace-settings-container -->
		<div th:replace="common/body :: settings"></div>

	</div><!-- /.main-container-inner -->

	<!--去到顶部-->
	<a th:replace="common/body :: gototop"> </a>

</div><!-- /.main-container -->

<script type="text/javascript">

	jQuery(function($) {



		/* initialize the external events

            -----------------------------------------------------------------*/



		$('#external-events div.external-event').each(function() {



			// create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)

			// it doesn't need to have a start or end

			var eventObject = {

				title: $.trim($(this).text()) // use the element's text as the event title

			};



			// store the Event Object in the DOM element so we can get to it later

			$(this).data('eventObject', eventObject);



			// make the event draggable using jQuery UI

			$(this).draggable({

				zIndex: 999,

				revert: true,      // will cause the event to go back to its

				revertDuration: 0  //  original position after the drag

			});



		});









		/* initialize the calendar

        -----------------------------------------------------------------*/



		var date = new Date();

		var d = date.getDate();

		var m = date.getMonth();

		var y = date.getFullYear();





		var calendar = $('#calendar').fullCalendar({

			buttonText: {

				prev: '<i class="icon-chevron-left"></i>',

				next: '<i class="icon-chevron-right"></i>'

			},



			header: {

				left: 'prev,next today',

				center: 'title',

				right: 'month,agendaWeek,agendaDay'

			},

			events: [

				{

					title: 'All Day Event',

					start: new Date(y, m, 1),

					className: 'label-important'

				},

				{

					title: 'Long Event',

					start: new Date(y, m, d-5),

					end: new Date(y, m, d-2),

					className: 'label-success'

				},

				{

					title: 'Some Event',

					start: new Date(y, m, d-3, 16, 0),

					allDay: false

				}]

			,

			editable: true,

			droppable: true, // this allows things to be dropped onto the calendar !!!

			drop: function(date, allDay) { // this function is called when something is dropped



				// retrieve the dropped element's stored Event Object

				var originalEventObject = $(this).data('eventObject');

				var $extraEventClass = $(this).attr('data-class');





				// we need to copy it, so that multiple events don't have a reference to the same object

				var copiedEventObject = $.extend({}, originalEventObject);



				// assign it the date that was reported

				copiedEventObject.start = date;

				copiedEventObject.allDay = allDay;

				if($extraEventClass) copiedEventObject['className'] = [$extraEventClass];



				// render the event on the calendar

				// the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)

				$('#calendar').fullCalendar('renderEvent', copiedEventObject, true);



				// is the "remove after drop" checkbox checked?

				if ($('#drop-remove').is(':checked')) {

					// if so, remove the element from the "Draggable Events" list

					$(this).remove();

				}



			}

			,

			selectable: true,

			selectHelper: true,

			select: function(start, end, allDay) {



				bootbox.prompt("New Event Title:", function(title) {

					if (title !== null) {

						calendar.fullCalendar('renderEvent',

								{

									title: title,

									start: start,

									end: end,

									allDay: allDay

								},

								true // make the event "stick"

						);

					}

				});





				calendar.fullCalendar('unselect');



			}

			,

			eventClick: function(calEvent, jsEvent, view) {



				var form = $("<form class='form-inline'><label>Change event name &nbsp;</label></form>");

				form.append("<input class='middle' autocomplete=off type=text value='" + calEvent.title + "' /> ");

				form.append("<button type='submit' class='btn btn-sm btn-success'><i class='icon-ok'></i> Save</button>");



				var div = bootbox.dialog({

					message: form,



					buttons: {

						"delete" : {

							"label" : "<i class='icon-trash'></i> Delete Event",

							"className" : "btn-sm btn-danger",

							"callback": function() {

								calendar.fullCalendar('removeEvents' , function(ev){

									return (ev._id == calEvent._id);

								})

							}

						} ,

						"close" : {

							"label" : "<i class='icon-remove'></i> Close",

							"className" : "btn-sm"

						}

					}



				});



				form.on('submit', function(){

					calEvent.title = form.find("input[type=text]").val();

					calendar.fullCalendar('updateEvent', calEvent);

					div.modal("hide");

					return false;

				});





				//console.log(calEvent.id);

				//console.log(jsEvent);

				//console.log(view);



				// change the border color just for fun

				//$(this).css('border-color', 'red');



			}



		});





	})

</script>

</body>

</html>

