<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户管理界面</title>
    <!--默认拼接前缀路径,开头请勿再添加斜杠,防止部署运行报错！-->
    <script th:replace="common/head::static"></script>
</head>
<body>
    <!--头部-->
    <!--<div >
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="page-header">
                    <h3>
                        后台管理
                       &lt;!&ndash; <small>Subtext for header</small>&ndash;&gt;
                    </h3>
                </div>
            </div>
        </div>
    </div>-->

    <div class="container bg-danger" style="height:800px">
        <div class="row clearfix" >
                <div class="col-md-2 column bg-info" style="height: 800px">
                    <ul class="nav nav-pills nav-stacked height" >
                        <li role="presentation" id="bar-1"><a href="bar-1">客户端管理</a></li>
                        <li role="presentation" id="bar-2">
                            <a href="#docCollapse" class="nav-header collapsed" data-toggle="collapse" id="collapseParent" onclick="chevron_toggle()">用户管理
                                <span class="pull-right glyphicon glyphicon-menu-right"></span>
                            </a>
                            <ul id="docCollapse" class="nav nav-list collapse">
                                <li><a href="users/manager/page">  &nbsp;&nbsp;用户管理</a></li>
                                <li><a href="#">  &nbsp;&nbsp;角色管理</a></li>
                                <li><a href="#">  &nbsp;&nbsp;权限管理</a></li>
                            </ul>
                        </li>
                        <li role="presentation" id="bar-3"><a href="bar-3">其他管理</a></li>
                    </ul>
                </div>
                <div class="col-md-10 column container" th:replace="${page}::${content}">
                </div>

        </div>
    </div>







</body>
</html>